/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* start up with some default style */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --primary-color:#E02C6D;
    --background-color:#2D25A0;
    --dark:#05070f;
}

.flow >*+*{
    margin-top: 1em;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.container{
    width: 90%;
    margin: 0 auto;
} 

/* hide burger menu on desktop */
/* .burger{
    display: none;
} */
/* .hide-desktop{
    display: none;
} */
/* default style end */


header,.hero{
    background-color: var(--background-color,#2D25A0);
}
nav{
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    position: relative;
}
/* hamburger menu with css */

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--primary-color,hotpink);
    margin: 5px;
    align-items: center;
}
.burger div{
    cursor: pointer;
}
/* navigation start */
header{
    padding: 1.5em 0;
}
.primary-nav-links{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.primary-nav-links li a{
    color: white;
    font-weight: 400;
    font-size: 14px;
    padding:.5em;
    transition: all 200ms ease;
}
.active{
    background-color: var(--primary-color);
    font-weight: 700;
}
.primary-nav-links li a:hover{
    background-color: var(--primary-color);
    font-weight: 700;
}

/* navigation button with all default button */
.cta{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .25em 1em;
    color: white;
    font-weight: 400;
    background-color: var(--primary-color,#E02C6D);
    border-radius: 3px;
}
.nav-cta{
    width: 130px;
    padding: .8em 1.8em;
    justify-content: space-between;
}

/* hero section start with mobile first development*/
.hero{
    padding: 3em 0;
}
.hero-left-col{
    padding-top: 2em;
}
.hero-title{
    font-weight: 700;
    font-size: 3em;
    color: white;
    line-height: 1.2em;
}


.hero-cta{
    width: 150px;
    margin: 2em 0 3em 0;
    padding: 1em;
    justify-content: space-between;
    background: #3dbafd;
    transition: all 250ms ease;
    color: black;
    font-weight: 400;
}
.hero-cta:hover{
    background: var(--primary-color,#E02C6D);
    color: white;
}
.hero-img{
    width: 100%;
}
/* this autofit magic save the harassment of medea query */
#hero-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

/* hero section mobile first design end */



/* player card section start with mobile first */
section.player-section{
    background: white;
}
.card__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.card__container{
    box-shadow: 0px 2px 8px 0px rgb(199, 208, 221);
    margin: 1em;
    padding: 1em;
}
#card__img{
    max-width: 100%;
}
.card__cta{
    text-align: center !important;
    font-weight: 700;
}
/* upcomming match section */
.card__wrapper__matches{
    display: grid;
}
.card__title__match{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.card__info__match{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vs{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--primary-color,#E02C6D);
    transform: translateY(-.5em);
}


/* contact section */
.contact-title,.title{
    text-align: center;
    margin:2.5em 0;
}
.contact-title h2{
    font-size: 1.2em;
    margin-bottom: 1em;
}
label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}
input,textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid gray;
    box-sizing: border-box;
}
#cta__contact{
    margin-bottom: 5em;
    font-weight: 700;
    border: none;
    font-size: 1.3em;
    color: white;
    padding: .5em 1.5em;
    display: inline-block;
    width: unset;
    cursor: pointer;
}
iframe{
    width: 100%;
    height: 300px;
}

/* footer */
footer{
    margin-top: 3em;
    text-align: center;
}
#footer-img{
    width: 70%;
}
.icon-round{
    width: 30px;
    height: 30px;
    background: #f6edf0;
    color:#330918;
    border-radius: 50%;
    padding: .5em;
    margin-bottom: 1.5em;
    cursor: pointer;
}

/* media queary start */


/* medea quary for burger menu */
@media screen and (min-width:860px){
    .hide-desktop{
        display: none;
    }
}
@media screen and (max-width:860px){
   .hide-mobile{
       display: none;
   } 
   .hide-desktop{
       display: block;
   }
}

/* fix hero image and full hero section  */
@media screen and (min-width:556px) and (max-width:696px) {
 .hero-title{
     font-size: 2.5em;
 }
    .hero-img{
     transform: translateY(4em);
     width: 110%;
 }
}

@media screen and (min-width:900px){
    .hero-left-col{
        transform: translateY(2em);
    }
}
@media screen and (min-width:1024px){
    .hero-img{
        width: 90%;
    }
}

/* fix upcomming matches section */
@media screen and (min-width:630px){
    .card__wrapper__matches{
        grid-template-columns: repeat(2,1fr);
    }
}